fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
motor
python-dotenv
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
aiofiles
httpx
instructor
openai
google-generativeai
pytest
pytesseract
pillow
pdf2image
pypdf
email-validator
sentence-transformers
faiss-cpu
vaderSentiment
textblob
